@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');

body{
    background-color: rgb(65, 147, 211);
    overflow-x: hidden;
}


p{
    color: white;
    margin: 50px !important;
}
h1{
    color: white;
    font-size: 50px !important;
    font-family: "Kalnia", serif;

}
li {
    color: white;
}
div{
    margin: 10px !important;
}
.call-now{
    margin: 0 !important;
    font-weight: bold;
    color: white;
}

header{
    height: 100%;
    padding: 50px;
}
iframe.headerr{
    height: max-content;
    overflow:visible;
    position: absolute;
    top: 0;
    left: 0;

}
.halo-cert{
    color: blue;
}
.slogan{
    font-size: x-large;
}


.safearea {
    display: block;
    clear: both;
    height: 30vh; 
}

iframe.slide{
    width: 50vb;
    height: 50vb;
    overflow-x: hidden;
    
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px !important;
    text-align: center;
  }

  .information{
    width: 100%;
    text-align: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    /* Make card content a flex container with elements stacked vertically */
    justify-content: flex-end;  /* Align content at the bottom */
  }
  
  @media (max-width: 768px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  